<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Bienvenido a <%= title %></h1>
    <p>Autor: Mikel Balduciel Diaz</p>
   <!-- <p><a href="/quizes/question">Comience a jugar</a></p>-->
   <img src="/images/foto.jpg"/>
  </body>
</html>
